
* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Almendra', serif;
  color: black;
  max-width: 600px;
  margin: auto;
}
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

ul {
  list-style-type: none;
}

.topNav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.topNav a {
  text-decoration: none;
  color: black;
}

.topNav a:hover {
  opacity: 0.5;
}

.home {
  display: flex;
  margin-top: 55px;
  font-family: 'Almendra SC', serif;
  letter-spacing: 1px;
  width: 30px;
}

.menu {
  display: flex;
  margin-top: 55px;
  flex-wrap: wrap;
}

.page-item {
  margin-left: 20px;
}

.logo {
  width: 100%;
  height: auto;
  opacity: 0.07;
  transition: opacity 2s ease-in-out;
 }
 
.logo:hover { 
   opacity: 1;
 }

table {
  width: 100%;
  margin-top: 40px;
}

th, td {
  text-align: left;
}

td a {
  text-decoration: none;
  color: #1f1f2e;
}

.releases-row:hover {
  opacity: 0.5;
}

.release-title {
  text-align: center;
}

.release-catalogue-number {
  text-align: center;
}

h2 {
  font-family: 'Almendra SC', serif;
}

img {
  display: block;
  margin-top: 25px;
  width: 100%;
}

.release-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  word-spacing: 3px;
  text-align: justify;
  text-justify: inter-word;
}
.release-content p {
  margin-top: 25px;
  margin-bottom: 25px;
}

.release-date {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #1f1f2e;
}

ol {
  display: block;
  margin-top: 40px;
  text-align: justify;
  text-justify: inter-word;
  padding-inline-start: 0px;
}

@media only screen and (max-width: 640px) {
 
  .topNav {
    flex-direction: column;
  }
  .home {
    margin-top: 0px;
  }
  ul {
    padding-inline-start: 0px;
  }
  .page-item {
    margin-left: 0px;
  }
  .menu {
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
  }
  body {
    padding: 10px;
  }
  main {
    font-size: small;
  }
 .logo {
   opacity: 1;
 }
 table {
   margin-top: 0mm;
 }
 tr {
  vertical-align: 0mm;
  color: #6d6d6d;
 }
 
}
