---
layout: layouts/base.njk
---
<div class="description">is a digital and tape record label <br />founded by Viktoriia Shcherbak and <br />Erich Grunewald.</div>
<img class="logo" src="/img/die_brucke_logo.jpg" alt="Die Brücke" width="500px"  />
