---
title: Releases
layout: layouts/base.njk
---
<h2 class="release-title">{{ artistName }} – {{ releaseName }}</h2>

<div class="release-catalogue-number">DIE-BRVECKE-{{catalogNumber | paddedCatalogNumber}}</div>

<img class="release-tape-photo" src="{{ tapePhoto }}" alt="{{ releaseName }} tape photo"/>

<div class="release-content">
    {{ content | safe }}
</div>

<div class="release-date">Released on <time>{{ date | readableDate }}</time>.</div>
